.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: start;
    background: white;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}
.buttons {
    display: flex;
    gap: 15px;
}
