body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(245, 205, 146, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
  
}

.rm {
  color: white;
  border: none;
  /*border-radius: 50%;*/
  background: rgba(255, 0, 0, 0.025);
}
.tfb {
  border: none;
  margin-left: auto;
  margin-right: 0.5rem;
  /*border-radius: 50%;*/
  background: rgba(255, 0, 0, 0.025);
}

.done {
  text-decoration: line-through;
}

.doneItem {
  margin-top: 5rem;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.return {
  margin-left: auto;
}
